.button
{
  width:50px;
  font-size:16px;
  font-weight:700;
  margin:13px;
  border-radius:100%;
  padding:8px;
  border: 3px solid white;
  font-size:24px;
  box-shadow: 5px 4px 5px #aaaaaa;

}

.button:hover{

background-color: rgb(47, 58, 58);
color:white;

}

.clear
{
  padding-left:0px;
  padding-right:59px;
}

.delete
{
  padding:5px;
}


.bckg
{
background-color: #000000;
background-image:linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
width:400px;
border: 6px solid black;

}

.result
{
  background-color: rgb(145, 144, 144);
  width:400px;
  height:90px;
  border: 5px solid black;
  color:white;
  padding:15px;
  font-size:33px;
 
}
